<?xml version="1.0"?>
<!--
/**
 * @category    Scandiweb
 * @package     Scandiweb_TemplateExtension
 * @author      Jort Geurts <jort.geurts@scandiweb.com | info@scandiweb.com>
 * @copyright   Copyright (c) 2021 Scandiweb, Ltd (https://scandiweb.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_TemplateExtension" setup_version="0.0.1">
        <sequence>
            <module name="Scandiweb_Core"/>
        </sequence>
    </module>
</config>
