<?xml version="1.0"?>
<!--
/**
 * Sportland_WordPressIntegration
 *
 * @category    Sportland
 * @package     Sportland_WordPressIntegration
 * @author      Raivis Dejus <info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="wordpress" frontName="wordpress">
            <module name="Scandiweb_WordPressIntegration" before="Magento_Backend" />
        </route>
    </router>
</config>
