<?xml version="1.0"?>
<!--
/**
 * Sportland_WordPressIntegration
 *
 * @category    Sportland
 * @package     Sportland_WordPressIntegration
 * @author      Raivis Dejus <info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wordpress_integration" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>WordPress integration</label>
            <tab>Scandiweb</tab>
            <resource>Scandiweb_Customization::Scandiweb_config</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="source_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Source Url</label>
                    <comment><![CDATA[Url of a WordPress blog where to get posts from.<br />Leave empty to disable the integration]]></comment>
                </field>
                <field id="cron_expression" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron expression</label>
                    <comment><![CDATA[When to run the cron. Should be in cron expression format e.g. '30 3 * * *']]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
