<?xml version="1.0"?>
<!--
/**
 * ScandiPWA_WordPressIntegration
 *
 * @category    ScandiPWA
 * @package     ScandiPWA_WordPressIntegration
 * @author      Raivis Dejus <info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wordpress_integration>
            <general>
                <cron_expression>30 3 * * *</cron_expression>
            </general>
        </wordpress_integration>
    </default>
</config>
