<?xml version="1.0" ?>
<!--
/**
 * ScandiPWA_WordPressIntegration
 *
 * @category    ScandiPWA
 * @package     ScandiPWA_WordPressIntegration
 * @author      Raivis Dejus <info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="ScandiPWA_WordPressIntegration" setup_version="1.0.0">
		<sequence>
			<module name="Magento_Widget" />
			<module name="Magento_Backend"/>
			<module name="Magento_Ui"/>
			<module name="Scandiweb_Core" />
		</sequence>
	</module>
</config>
